@font-face {
    font-family: arcade-classic;
    src: url("./ARCADECLASSIC.TTF");
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    font-family: arcade-classic, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
    color: var(--font-color);
}

:root {
    --black: hsl(206, 39%, 7%);
    --grey: hsl(0, 0%, 55%);
    --neon-blue: hsl(198, 70%, 55%);
    --font-color: hsl(208, 37%, 90%);
    --cell-border-color: hsla(0, 0%, 100%, 0.2);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--neon-blue) var(--black);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--black);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--neon-blue);
    border-radius: 10px;
    border: 3px solid var(--black);
}

::-webkit-scrollbar-corner {
    background-color: var(--black);
}

html {
    background-color: var(--black);
}

body {
    min-height: 100vh;

    background-color: var(--black);

    display: grid;
    place-items: center;
}

#root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    width: -webkit-min-content;

    width: -moz-min-content;

    width: min-content;
    min-width: 100%;
    height: 100%;
    position: relative;
    padding: 1em;
}

.title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.section-title {
    margin: 1em 0 0.5em;
    font-size: 1.2em;
}

.title.absolute {
    position: absolute;
    top: 1em;
}

.block-click {
    pointer-events: none;
}

/*----------
Buttons
----------*/

.button {
    background-color: var(--black);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--neon-blue);
    box-shadow: inset 0px 0px 0px 2px var(--neon-blue);
    color: var(--neon-blue);

    padding: 0.5em 1em;
    min-width: 2em;

    display: grid;
    place-content: center;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: all 0.25s ease-in-out;

    -o-transition: all 0.25s ease-in-out;

    transition: all 0.25s ease-in-out;
    line-height: 100%;
}

.button.active,
.button:not(.disabled):hover {
    background-color: var(--neon-blue);
    -webkit-box-shadow: 0px 0px 10px var(--neon-blue);
    box-shadow: 0px 0px 10px var(--neon-blue);
    color: var(--font-color);
    font-weight: bold;
}

.button.big {
    font-size: 2em;
    margin-top: 0.5em;
    padding: 0.25em 1em;
}
